<a href="https://colab.research.google.com/github/Evelynmaezj/ANALITICA-DE-DATOS/blob/main/Act.%203.2%20Valores%20Nulos/Act_3_2_Valores_Nulos_Actividad_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#VALORES NULOS

In [66]:
#Librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivos csv o xlsx desde equipo
from google.colab import files
files.upload()

In [67]:
#Carga archivo .xlsx sin indice
data = pd.read_csv('Base_Socio_Formador_Con_Nulos.csv', encoding="latin")
data

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,24/06/2019,"$260,070",01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,18/07/2019,"$456,280",01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,31/07/2019,"$237,820",01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,14/08/2019,"$231,000",01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,31/07/2019,"$1,410,820",01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS
...,...,...,...,...,...,...,...,...,...,...,...,...
4354,04/07/2019,NaN,01/01/1928,0.0,305.0,1.0,2.0,1.0,1301 HAMEL ST,75212.0,TX,DALLAS
4355,14/06/2019,"$257,360",01/01/1928,0.0,299.0,1.0,2.0,1.0,3501 WORD ST,75204.0,TX,DALLAS
4356,16/07/2019,"$881,200",01/01/1927,0.0,817.0,2.0,5.0,3.0,1700 RIDGEDORF DR,75217.0,TX,DALLAS
4357,05/08/2019,"$877,080",01/01/1927,0.0,576.0,2.0,4.0,2.0,8024 ROTHINGTON RD,75227.0,TX,DALLAS
4358,14/08/2019,"$660,180",01/01/1927,0.0,393.0,1.0,3.0,1.0,8201 BARBAREE BLVD,75228.0,TX,DALLAS

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             4347 non-null   object
 1   precio            4328 non-null   object
 2   año_hecho         4349 non-null   object
 3   año_renovado      4339 non-null   float64
 4   metros_cuadrados  4333 non-null   float64
 5   pisos             4340 non-null   float64
 6   habitaciones      4348 non-null   float64
 7   baños             4346 non-null   float64
 8   calle             4333 non-null   object
 9   codigo_zip        4339 non-null   float64
 10  estado            4353 non-null   object
 11  ciudad            4340 non-null   object
dtypes: float64(6), object(6)
memory usage: 408.8+ KB

In [69]:
#Identificar valores nulos por columna
valores_nulos = data.isnull().sum()
valores_nulos

fecha               12
precio              31
año_hecho           10
año_renovado        20
metros_cuadrados    26
pisos               19
habitaciones        11
baños               13
calle               26
codigo_zip          20
estado               6
ciudad              19
dtype: int64

Valores nulos por dataframe

In [70]:
#Identificar valores nulos por data frame
valores_nulos = data.isnull().sum().sum()
valores_nulos

213

##**Sustitución de valores nulos en variables de fecha**

Sustitución con forward y backward fill ya que considere que las fechas podrían ser parecidas a una anterio o una posterior

In [71]:
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data["fecha"]= data["fecha"].fillna(method="bfill")
data["año_hecho"]= data["año_hecho"].fillna(method="ffill")
data["año_renovado"]= data["año_renovado"].fillna(method="ffill")

<ipython-input-71-edc1ed7ea921>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["fecha"]= data["fecha"].fillna(method="bfill")
<ipython-input-71-edc1ed7ea921>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["año_hecho"]= data["año_hecho"].fillna(method="ffill")
<ipython-input-71-edc1ed7ea921>:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["año_renovado"]= data["año_renovado"].fillna(method="ffill")

In [72]:
#Comprobar valores nulos limpios
valores_nulos=data.isnull().sum()
valores_nulos

fecha                0
precio              31
año_hecho            0
año_renovado         0
metros_cuadrados    26
pisos               19
habitaciones        11
baños               13
calle               26
codigo_zip          20
estado               6
ciudad              19
dtype: int64

##**Sustitución de valores nulos en precio y metros cuadrados**
Usando el método de sustitución por promedio en las variables precio y metros cuadrados ya que eran variables númericas y para que el resultado no variace significativamente

In [73]:
#Eliminar un signo de una columna
data['precio']=data['precio'].str.replace('$', '')
data['precio']=data['precio'].str.replace(',', '')

In [74]:
#Realizamos una copia del dataframe
data1 = data.copy()

In [75]:
#Sustituir valores nulos con promedio o media
data['precio'] = data['precio'].astype(float)

In [76]:
data1["precio"]=data1['precio'].fillna(round(data['precio'].mean(),1)) #,1 es el # de decimales

In [116]:
data1["metros_cuadrados"]=data1['metros_cuadrados'].fillna(round(data['metros_cuadrados'].mean(),1)) #,1 es el # de decimales

In [117]:
#Comprobar valores nulos limpios
valores_nulos=data1.isnull().sum()
valores_nulos

fecha                0
precio               0
año_hecho            0
año_renovado         0
metros_cuadrados     0
pisos               19
habitaciones        11
baños               13
calle                0
codigo_zip           0
estado               0
ciudad               0
dtype: int64

##**Sustitución de valores nulos en variables cualitativas**

Sustitución con moda y caracteres concretos ya que podemos encontrar el más frecuente y con esto un número más representativo de la variable

In [111]:
data1["calle"]= data["calle"].fillna('CALLE SIN NOMBRE')

In [112]:
import statistics as st

In [113]:
# Calcular la moda ignorando los valores nulos
moda1 = st.mode(x for x in data['codigo_zip'] if x is not None)
moda2 = st.mode(x for x in data['estado'] if x is not None)
moda3 = st.mode(x for x in data['ciudad'] if x is not None)
moda1

75217.0

In [114]:
# Rellenar los valores nulos con la moda
data1["codigo_zip"].fillna(moda1, inplace=True)
data1["estado"].fillna(moda2, inplace=True)
data1["ciudad"].fillna(moda3, inplace=True)

In [118]:
#Comprobar valores nulos limpios
valores_nulos=data1.isnull().sum()
valores_nulos

fecha                0
precio               0
año_hecho            0
año_renovado         0
metros_cuadrados     0
pisos               19
habitaciones        11
baños               13
calle                0
codigo_zip           0
estado               0
ciudad               0
dtype: int64

##**Sustitución de valores nulos en variables numéricas**
Sustituí los valores con la mediana ya que eran variables númericas de tipo entero y un número intermedio se me hizo un número representativo para la variable

In [120]:
#Sustituir valores nulos con mediana
data1['pisos'] = data1['pisos'].fillna(round(data['pisos'].median(), 1))
data1['habitaciones'] = data1['habitaciones'].fillna(round(data['habitaciones'].median(), 1))
data1['baños'] = data1['baños'].fillna(round(data['baños'].median(), 1))

In [121]:
#Comprobar valores nulos limpios
valores_nulos=data1.isnull().sum()
valores_nulos

fecha               0
precio              0
año_hecho           0
año_renovado        0
metros_cuadrados    0
pisos               0
habitaciones        0
baños               0
calle               0
codigo_zip          0
estado              0
ciudad              0
dtype: int64

In [122]:
#Identificar valores nulos por dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos

0

##Convetir DataSet sin valores nulos a CSV

In [123]:
data1.to_csv("Base_Socio_Formador_Sin_Nulos.csv")

In [124]:
#Descargar archivo filtradoen csv
from google.colab import files

files.download("Base_Socio_Formador_Sin_Nulos.csv")